/* Add some styling to position the form on the right side of the page */
form {
    /*float: right;*/
    width: 500px;
    margin: auto;
}

/* Add some spacing between form fields */
form div {
    margin: 10px 0;
}

/* Center the form on the page */
form, h1 {
    text-align: center;
}

/* Center the title and description */
h1, p {
    text-align: center;
}

/* Align and set the same size for the input boxes */
label, input {
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-right: 10px;
}

/* Set the size of the login button */
input[type="submit"] {
    width: auto;
    margin-right: 100px;
    height: auto;
}

noscript {
    color: red;
    font-weight: bold;
}

div.nojs {
    display: none;
}

#message-container {
    text-align: center;
}

.warning {
    color: red;
}

.readonly-field {
    background-color: #eee;
}