<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signup Notice</title>
    <style>
        h1, p {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Signup Notice</h1>
<p>Congratulations, you have successfully signed up for an admin account!</p>
<p>Your account must be manually verified by the administrator before you can login with full admin privileges.</p>
<p>You can now <a th:href="@{/login}">login</a> with your new account, but you will not have access to all features until your account has been approved.</p>
</body>
</html>
