<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Sign Up</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="/validate.js"></script>
<script>
    function validateSignupForm() {
        let username = document.forms["signupForm"]["username"].value;
        let password = document.forms["signupForm"]["password"].value;
        let phone = document.forms["signupForm"]["phone"].value;
        let email = document.forms["signupForm"]["email"].value;
        let options = document.forms["signupForm"]["options"].value;
        // create an element to hold the warning message
        const messageElement = document.createElement('div');
        messageElement.classList.add('warning');

        let formIsValid = true;

        // check if the username is empty
        if (username === "") {
            messageElement.innerHTML = 'Username must be filled out';
            formIsValid = false;
        }

        // check if the password is empty
        if (password === "") {
            messageElement.innerHTML = 'Password must be filled out';
            formIsValid = false;
        }

        // check if the phone is empty
        if (phone === "") {
            messageElement.innerHTML = 'Phone must be filled out';
            formIsValid = false;
        }

        // check if the email is empty
        if (email === "") {
            messageElement.innerHTML = 'Email must be filled out';
            formIsValid = false;
        }

        // check if the options is empty
        if (options === "") {
            messageElement.innerHTML = 'Options must be selected';
            formIsValid = false;
        }

        if (!isUsername(username)) {
            messageElement.innerHTML = 'Username must be 6-20 characters long and start with a letter';
            formIsValid = false;
        }

        if (!isPhone(phone)) {
            messageElement.innerHTML = 'Phone must be in the format of 123-456-7890 or 1234567890 or +861234567890';
            formIsValid = false;
        }

        if (!isEmail(email)) {
            messageElement.innerHTML = 'Email must be in the format of  prefix@domain.suffix';
            formIsValid = false;
        }

        // if (!isName(username)) {
        //     messageElement.innerHTML = 'Please enter a valid name';
        //     formIsValid = false;
        // }
        // remove any existing warning messages from the DOM
        const existingWarnings = document.querySelectorAll('.warning');
        existingWarnings.forEach(warning => warning.remove());
        if (!formIsValid) {
            // insert the message element into the DOM
            document.querySelector('#message-container').appendChild(messageElement);
            return false;
        }
        // Encrypt the password
        // Set the encrypted password to the password field
        document.getElementById("password").value = CryptoJS.SHA256(password).toString();
        document.getElementById("jsEnabled").value = "true";
    }
</script>
<div class="container">
    <h1 class="text-center">Sign Up</h1>

    <form class="form-horizontal" method="post" name="signupForm" onsubmit="return validateSignupForm()"
          th:action="@{/signup}">
        <div class="form-group">
            <label class="col-sm-5 control-label" for="username">Username:</label>
            <div class="col-sm-4 col-md-3">
                <input class="form-control" id="username" name="username" placeholder="Username" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="password">Password:</label>
            <div class="col-sm-4 col-md-3">
                <input class="form-control" id="password" name="password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="phone">Phone:</label>
            <div class="col-sm-4 col-md-3">
                <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="email">Email:</label>
            <div class="col-sm-4 col-md-3">
                <input class="form-control" id="email" name="email" placeholder="Email" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Options:</label>
            <div class="col-sm-4 col-md-3">
                <div class="btn-group btn-group-toggle radio-group" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input autocomplete="off" checked id="radio1" name="options" th:checked="${options == 'customer'}" type="radio"
                               value="customer"/> Customer
                    </label>
                    <label class="btn btn-secondary">
                        <input autocomplete="off" id="radio2" name="options" th:checked="${options == 'staff'}" type="radio"
                               value="staff"/> Staff
                    </label>
                    <label class="btn btn-secondary">
                        <input autocomplete="off" id="radio3" name="options" th:checked="${options == 'admin'}" type="radio"
                               value="admin"/> Admin
                    </label>
                </div>
            </div>
        </div>
        <div class="text-center" id="message-container" style="color: red">
            <!-- Warning messages will be inserted here -->
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4" style="text-align: center">
                <input id="jsEnabled" name="jsEnabled" type="hidden" value="false"/>
                <p style="background-color: yellow;" th:text="${error}">Error message will be placed here</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-4">
                <button class="btn btn-primary text-center" type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</div>
<noscript>
    <p> Warning: JavaScript is disabled in your browser, your password will not be encrypted before being sent to the
        server.</p>
    <p> To protect your password, make sure that you have an https connection enabled.</p>
</noscript>
</body>
</html>
