<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <style>
        /* Add some styling to position the form on the right side of the page */
        form {
            /*float: right;*/
            width: 500px;
            margin: auto;
        }

        /* Add some spacing between form fields */
        form div {
            margin: 10px 0;
        }

        /* Center the form on the page */
        form, h1 {
            text-align: center;
        }

        /* Center the title and description */
        h1, p {
            text-align: center;
        }

        /* Align and set the same size for the input boxes */
        label, input {
            display: inline-block;
            width: 120px;
            text-align: left;
            margin-right: 10px;
        }

        /* Set the size of the login button */
        input[type="submit"] {
            width: auto;
            margin-right: 100px;
            height: auto;
        }


        noscript {
            color: red;
            font-weight: bold;
        }

        div.nojs {
            display: none;
        }

        #message-container {
            text-align: center;
        }

        .warning {
            color: red;
        }
        .readonly-field {
            background-color: #eee;
        }
    </style>
</head>
<body>
<h1>Admin Signup</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="/scripts/validate.js"></script>
<script>
    // Notice that if lacks these function declarations, the script will not work.
    // It will not work even if the functions are declared in the validate.js file.
    function isEmail(email) {
        return /^\w+@\w+\.\w+$/.test(email);
    }

    function isAddress(address) {
        return /^[\u4e00-\u9fa5a-zA-Z0-9\\s]+$/.test(address);
    }

    function isPhone(phone) {
        return /^\d{3}-\d{3}-\d{4}$/.test(phone) || /^\d{10,11}$/.test(phone) || /^\+?86\d{11}$/.test(phone);
    }

    function isUsername(username) {
        return /^[a-zA-Z][a-zA-Z0-9_.-]{5,19}$/.test(username);
    }

    function isName(name) {
        // return name.matches("^[\u4e00-\u9fa5a-zA-Z\\s]+$");
        return /^[\u4e00-\u9fa5a-zA-Z\s]+$/.test(name);
    }

    function validateAdminForm() {
        let username = document.forms["adminSignupForm"]["username"].value;
        let password = document.forms["adminSignupForm"]["password"].value;
        let phone = document.forms["adminSignupForm"]["phone"].value;
        let email = document.forms["adminSignupForm"]["email"].value;
        let firstname = document.forms["adminSignupForm"]["firstname"].value;
        let lastname = document.forms["adminSignupForm"]["lastname"].value;
        let address = document.forms["adminSignupForm"]["address"].value;
        // let identification = document.forms["adminSignupForm"]["identification"].value;
        let referenceName = document.forms["adminSignupForm"]["referenceName"].value;
        let referenceContact = document.forms["adminSignupForm"]["referenceContact"].value;
        // let faceImage = document.forms["adminSignupForm"]["faceImage"].value;
        const messageElement = document.createElement('div');
        messageElement.classList.add('warning');

        let formIsValid = true;

        if (username === "") {
            messageElement.innerText = "Username is required";
            document.getElementById("username").appendChild(messageElement);
            formIsValid = false;
        } else if (!isUsername(username)) {
            messageElement.innerText = "Username is invalid";
            document.getElementById("username").appendChild(messageElement);
            formIsValid = false;
        }

        if (password === "") {
            messageElement.innerText = "Password is required";
            document.getElementById("password").appendChild(messageElement);
            formIsValid = false;
        }

        if (phone === "") {
            messageElement.innerText = "Phone is required";
            document.getElementById("phone").appendChild(messageElement);
            formIsValid = false;
        } else if (!isPhone(phone)) {
            messageElement.innerText = "Phone is invalid";
            document.getElementById("phone").appendChild(messageElement);
            formIsValid = false;
        }

        if (email === "") {
            messageElement.innerText = "Email is required";
            document.getElementById("email").appendChild(messageElement);
            formIsValid = false;
        } else if (!isEmail(email)) {
            messageElement.innerText = "Email is invalid";
            document.getElementById("email").appendChild(messageElement);
            formIsValid = false;
        }

        if (firstname === "") {
            messageElement.innerText = "First name is required";
            document.getElementById("firstname").appendChild(messageElement);
            formIsValid = false;
        } else if (!isName(firstname)) {
            messageElement.innerText = "First name is invalid";
            document.getElementById("firstname").appendChild(messageElement);
            formIsValid = false;
        }

        if (lastname === "") {
            messageElement.innerText = "Last name is required";
            document.getElementById("lastname").appendChild(messageElement);
            formIsValid = false;
        } else if (!isName(lastname)) {
            messageElement.innerText = "Last name is invalid";
            document.getElementById("lastname").appendChild(messageElement);
            formIsValid = false;
        }

        if (address === "") {
            messageElement.innerText = "Address is required";
            document.getElementById("address").appendChild(messageElement);
            formIsValid = false;
        } else if (!isAddress(address)) {
            messageElement.innerText = "Address is invalid";
            document.getElementById("address").appendChild(messageElement);
            formIsValid = false;
        }

        // if (identification === "") {
        //     messageElement.innerText = "Identification is required";
        //     document.getElementById("identification").appendChild(messageElement);
        //     formIsValid = false;
        // }

        if (referenceName === "") {
            messageElement.innerText = "Reference name is required";
            document.getElementById("referenceName").appendChild(messageElement);
            formIsValid = false;
        } else if (!isName(referenceName)) {
            messageElement.innerText = "Reference name is invalid";
            document.getElementById("referenceName").appendChild(messageElement);
            formIsValid = false;
        }

        if (referenceContact === "") {
            messageElement.innerText = "Reference contact is required";
            document.getElementById("referenceContact").appendChild(messageElement);
            formIsValid = false;
        } else if (!isPhone(referenceContact) && !isEmail(referenceContact)) {
            messageElement.innerText = "Reference contact is invalid";
            document.getElementById("referenceContact").appendChild(messageElement);
            formIsValid = false;
        }

        // if (faceImage === "") {
        //     messageElement.innerText = "Face image is required";
        //     document.getElementById("faceImage").appendChild(messageElement);
        //     formIsValid = false;
        // }

        const existingWarnings = document.querySelectorAll('.warning');
        existingWarnings.forEach(warning => warning.remove());
        if (!formIsValid) {
            document.querySelector('#message-container').appendChild(messageElement);
            return false;
        }
        document.getElementById("jsEnabled").value = "true";
    }
</script>
<form name="adminSignupForm" method="POST" th:action="@{/signup_admin}" onsubmit="return validateAdminForm()"
      enctype="multipart/form-data">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:value="${username}" th:required="required" readonly class="readonly-field"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:value="${password}" th:required="required" readonly class="readonly-field"/>
    </div>
    <div>
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" th:value="${phone}" th:required="required" readonly class="readonly-field"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${email}" th:required="required" readonly class="readonly-field"/>
    </div>
    <div>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" th:value="${firstname}" th:required="required"/>
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" th:value="${lastname}" th:required="required"/>
    </div>
    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" th:value="${address}" th:required="required"/>
    </div>
    <!--    <div>-->
    <!--        <label for="identification">Identification:</label>-->
    <!--        <input type="file" id="identification" name="identification" th:value="${identification}" th:required="required"-->
    <!--               accept="application/pdf"/>-->
    <!--    </div>-->
    <div>
        <label for="referenceName">Reference Name:</label>
        <input type="text" id="referenceName" name="referenceName" th:value="${referenceName}" th:required="required"/>
    </div>
    <div>
        <label for="referenceContact">Reference Contact (email/phone):</label>
        <input type="text" id="referenceContact" name="referenceContact" th:value="${referenceContact}"
               th:required="required"/>
    </div>
    <!--    <div>-->
    <!--        <label for="faceImage">Face Image:</label>-->
    <!--        <input type="file" id="faceImage" name="faceImage" th:value="${faceImage}" th:required="required"-->
    <!--               accept="image/*"/>-->
    <!--    </div>-->
    <div>
        <button type="submit">Submit</button>
    </div>
    <input type="hidden" id="jsEnabled" name="jsEnabled" value="false"/>
    <p style="background-color: yellow;" th:text="${error}">Error message will be placed here</p>
    <div id="message-container">
        <!-- The error message will be inserted here -->
    </div>
</form>
<noscript>
    <p> Warning: JavaScript is disabled in your browser, your password will not be encrypted before being sent to the
        server.</p>
    <p> To protect your password, make sure that you have an https connection enabled.</p>
</noscript>
</body>
</html>
