<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <style>
        form {
            width: 350px;
            margin: auto;
        }

        form div {
            margin: 10px 0;
        }

        form, h1 {
            text-align: center;
        }

        h1, p {
            text-align: center;
        }

        label, input {
            display: inline-block;
            width: 140px;
            text-align: left;
            margin-right: 10px;
        }

        input[type="submit"] {
            width: auto;
            margin-right: 100px;
            height: auto;
        }

        noscript {
            color: red;
            font-weight: bold;
        }

        div.nojs {
            display: none;
        }

        #message-container {
            text-align: center;
        }

        .warning {
            color: red;
        }
    </style>
</head>
<body>
<h1>Staff Signup</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="/scripts/validate.js"></script>
<script>
    // Notice that if lacks these function declarations, the script will not work.
    // It will not work even if the functions are declared in the validate.js file.
    function isEmail(email) {
        return /^\w+@\w+\.\w+$/.test(email);
    }

    function isPhone(phone) {
        return /^\d{3}-\d{3}-\d{4}$/.test(phone) || /^\d{10,11}$/.test(phone) || /^\+?86\d{11}$/.test(phone);
    }

    function isUsername(username) {
        return /^[a-zA-Z][a-zA-Z0-9_.-]{5,19}$/.test(username);
    }

    function isName(name) {
        // return /^[\p{L}\s-']+$/.test(name);
        return isUsername(name);
    }

    function isIdNumber(idNumber) {
        // 作者：毛瑞_三十课
        // 链接：https://juejin.cn/post/6844903575877861390
        //     来源：稀土掘金
        // 著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
        // 1. 18位身份证号码的正则表达式
        const reg = /^[1-9]\d{5}(18|19|20)\d{2}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])\d{3}[0-9Xx]$/;
        if (!reg.test(idNumber)) {
            return false;
        }

        // 2. 18位身份证号码各个数字的含义：
        // 1-6位：省、市、县、区
        // 7-14位：出生年、月、日
        // 15-17位：顺序码
        // 18位：校验码

        // 检查省份编码
        let checkProv = function (val) {
            const pattern = /^[1-9][0-9]/;
            const provs = {
                11: "北京",
                12: "天津",
                13: "河北",
                14: "山西",
                15: "内蒙古",
                21: "辽宁",
                22: "吉林",
                23: "黑龙江 ",
                31: "上海",
                32: "江苏",
                33: "浙江",
                34: "安徽",
                35: "福建",
                36: "江西",
                37: "山东",
                41: "河南",
                42: "湖北 ",
                43: "湖南",
                44: "广东",
                45: "广西",
                46: "海南",
                50: "重庆",
                51: "四川",
                52: "贵州",
                53: "云南",
                54: "西藏 ",
                61: "陕西",
                62: "甘肃",
                63: "青海",
                64: "宁夏",
                65: "新疆",
                71: "台湾",
                81: "香港",
                82: "澳门"
            };
            if (pattern.test(val)) {
                if (provs[val]) {
                    return true;
                }
            }
            return false;
        }

        // 检查出生日期
        let checkDate = function (val) {
            let pattern = /^(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)$/;
            if (pattern.test(val)) {
                let year = val.substring(0, 4);
                let month = val.substring(4, 6);
                let date = val.substring(6, 8);
                let date2 = new Date(year + "-" + month + "-" + date);
                if (date2 && date2.getMonth() === (parseInt(month) - 1)) {
                    return true;
                }
            }
            return false;
        }

        // 检查校验码
        let checkCode = function (val) {
            let p = /^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
            let factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
            let parity = [1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2];
            let code = val.substring(17);
            if (p.test(val)) {
                let sum = 0;
                for (let i = 0; i < 17; i++) {
                    sum += val[i] * factor[i];
                }
                if (parity[sum % 11] === code.toUpperCase()) {
                    return true;
                }
            }
            return false;
        }

        // 检查身份证号码
        let checkID = function (val) {
            if (checkCode(val)) {
                let date = val.substring(6, 14);
                if (checkDate(date)) {
                    if (checkProv(val.substring(0, 2))) {
                        return true;
                    }
                }
            }
            return false;
        }

        return checkID(idNumber);
    }


    function isJobTitle(jobTitle) {
        // manager, merchant, contractor
        return /^(manager|merchant|contractor)$/.test(jobTitle.toLowerCase());
    }

    function isCompany(company) {
        // company1, company2, company3, company4, company5
        return /^(company1|company2|company3|company4|company5)$/.test(company.toLowerCase());
    }

    function validateStaffForm() {
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        let phone = document.getElementById("phone").value;
        let email = document.getElementById("email").value;
        let firstname = document.forms["staffForm"]["firstname"].value;
        let lastname = document.forms["staffForm"]["lastname"].value;
        let idNumber = document.forms["staffForm"]["idNumber"].value;
        let jobTitle = document.forms["staffForm"]["jobTitle"].value;
        let company = document.forms["staffForm"]["company"].value;
        // create an element to hold the warning message
        const messageElement = document.createElement('div');
        messageElement.classList.add('warning');

        let formIsValid = true;

        if (username === "") {
            messageElement.innerText = "Username is required";
            document.getElementById("username").after(messageElement);
            formIsValid = false;
        } else if (!isUsername(username)) {
            messageElement.innerText = "Username is invalid";
            document.getElementById("username").after(messageElement);
            formIsValid = false;
        }

        if (password === "") {
            messageElement.innerText = "Password is required";
            document.getElementById("password").after(messageElement);
            formIsValid = false;
        }

        if (phone === "") {
            messageElement.innerText = "Phone is required";
            document.getElementById("phone").after(messageElement);
            formIsValid = false;
        } else if (!isPhone(phone)) {
            messageElement.innerText = "Phone is invalid";
            document.getElementById("phone").after(messageElement);
            formIsValid = false;
        }

        if (email === "") {
            messageElement.innerText = "Email is required";
            document.getElementById("email").after(messageElement);
            formIsValid = false;
        } else if (!isEmail(email)) {
            messageElement.innerText = "Email is invalid";
            document.getElementById("email").after(messageElement);
            formIsValid = false;
        }

        if (firstname === "") {
            messageElement.innerHTML = "First name is required.";
            formIsValid = false;
        } else if (!isName(firstname)) {
            messageElement.innerHTML = "First name is invalid.";
            formIsValid = false;
        }
        if (lastname === "") {
            messageElement.innerHTML = "Last name is required.";
            formIsValid = false;
        } else if (!isName(lastname)) {
            messageElement.innerHTML = "Last name is invalid.";
            formIsValid = false;
        }
        if (idNumber === "") {
            messageElement.innerHTML = "ID number is required.";
            formIsValid = false;
        } else if (!isIdNumber(idNumber)) {
            messageElement.innerHTML = "ID number is invalid.";
            formIsValid = false;
        }
        if (jobTitle === "") {
            messageElement.innerHTML = "Job title is required.";
            formIsValid = false;
        } else if (!isJobTitle(jobTitle)) {
            messageElement.innerHTML = "Job title is invalid.";
            formIsValid = false;
        }
        if (company === "") {
            messageElement.innerHTML = "Company is required.";
            formIsValid = false;
        } else if (!isCompany(company)) {
            messageElement.innerHTML = "Company is invalid.";
            formIsValid = false;
        }
        // remove any existing warning messages from the DOM
        const existingWarnings = document.querySelectorAll('.warning');
        existingWarnings.forEach(warning => warning.remove());
        if (!formIsValid) {
            // insert the message element into the DOM
            document.querySelector('#message-container').appendChild(messageElement);
            return false;
        }
    }
</script>
<form name="staffForm" th:action="@{/signup_staff}" onsubmit="return validateStaffForm()" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" th:value="${username}" required/><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" th:value="${password}" required/><br><br>
    <label for="phone">Phone:</label>
    <input type="text" name="phone" id="phone" th:value="${phone}" required/><br><br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" th:value="${email}" required/><br><br>
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" id="firstname" th:value="${fisrtname}" th:required="required"/><br><br>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" id="lastname" th:value="${lastname}" th:required="required"/><br><br>
    <label for="idNumber">ID Number:</label>
    <input type="text" name="idNumber" id="idNumber" th:value="${idNumber}" th:required="required"/><br><br>
    <label for="jobTitle">Job Title:</label>
    <input type="text" name="jobTitle" id="jobTitle" th:value="${jobTitle}" th:required="required"/><br><br>
    <label for="company">Company:</label>
    <input type="text" name="company" id="company" th:value="${company}" th:required="required"/><br><br>
    <input type="submit" value="Submit"/>
    <input type="hidden" id="jsEnabled" name="jsEnabled" value="false"/>
    <p style="background-color: yellow;" th:text="${error}">Error message will be placed here</p>
    <div id="message-container">
        <!-- The error message will be inserted here -->
    </div>
</form>
<noscript>
    <p> Warning: JavaScript is disabled in your browser, your password will not be encrypted before being sent to the
        server.</p>
    <p> To protect your password, make sure that you have an https connection enabled.</p>
</noscript>
</body>
</html>