<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HITSZ Taste</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center">Welcome to HITSZ Taste!</h1>
    <p class="text-center">
        This is a timely, affordable, safe, tasty, and easy to use platform for campus food delivery.
    </p>
    <p class="text-center">
        With HITSZ Taste, you can order food from your favorite cafeteria and have it delivered right to your doorstep.
        Simply login or sign up to start ordering.
    </p>
    <div class="container">
        <form name="loginForm" class="form-horizontal" th:action="@{/login}" onsubmit="return validateLoginForm()" method="post">
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">Username:</label>
                <div class="col-sm-4 col-md-4">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">Password:</label>
                <div class="col-sm-4 col-md-4">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div id="message-container" class="text-center" style="color: red">
                <!-- Warning messages will be inserted here -->
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4" style="text-align: center">
                    <input type="hidden" id="jsEnabled" name="jsEnabled" value="false"/>
                    <p style="background-color: yellow;" th:text="${error}">Error message will be placed here</p>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a th:href="@{/signup}" class="btn btn-link">Sign up</a>
                </div>
            </div>
        </form>
    </div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="/validate.js"></script>
<script>
    function validateLoginForm() {
        let username = document.forms["loginForm"]["username"].value;
        let password = document.forms["loginForm"]["password"].value;
        // create an element to hold the warning message
        const messageElement = document.createElement('div');
        messageElement.classList.add('warning');

        let formIsValid = true;

        // check if the username is empty
        if (username === "") {
            messageElement.innerHTML = 'Username must be filled out';
            formIsValid = false;
        } else if (!isPhone(username) && !isEmail(username) && !isUsername(username)) {
            messageElement.innerHTML = 'Username must be a valid phone number, email, or username';
            formIsValid = false;
        }

        // check if the password is empty
        if (password === "") {
            messageElement.innerHTML = 'Password must be filled out';
            formIsValid = false;
        }

        // remove any existing warning messages from the DOM
        const existingWarnings = document.querySelectorAll('.warning');
        existingWarnings.forEach(warning => warning.remove());
        if (!formIsValid) {
            // insert the message element into the DOM
            document.querySelector('#message-container').appendChild(messageElement);
            return false;
        }
        // Encrypt the password
        // Set the encrypted password to the password field
        document.getElementById("password").value = CryptoJS.SHA256(password).toString();
        document.getElementById("jsEnabled").value = "true";
    }
</script>
</body>
</html>
